<div class="container">
<h1 class="text-center my-4">Chi tiết Đơn Hàng #<%= @order.id %></h1>
<h4 class="mt-4">Thời gian tạo: <span class="font-weight-bold text-danger"><%= @order.created_at.strftime('%d/%m/%Y %H:%M') %></span></h4>
    <%= form_with model: @order, url: confirm_order_orders_path, local: true do |f| %>
        <h3 class="mb-3">Địa Chỉ Nhận Hàng</h3>
        <div class="order-container">
            <div class="order-info">
                <strong>Họ và Tên:</strong> <%= @order.name %>
            </div>

            <div class="order-info">
                <strong>Email:</strong> <%= @order.email %>
            </div>

            <div class="order-info">
                <strong>Địa Chỉ:</strong> <%= @order.address %>
            </div>
        </div>

        <h3 class="mb-3">Thông tin Đơn Hàng</h3>

        <% @order.order_items.each do |order_item| %>
            <% if order_item.post.present? %>
                <div class="pay-cart-item border rounded p-3 mb-3 d-flex align-items-center">
                    <div class="product-image">
                        <% if order_item.post.images.attached? %>
                            <%= image_tag order_item.post.images.first, style: "max-width: 150px; max-height: 150px;" %>
                        <% end %>
                    </div>
                    <div class="product-details">
                        <h4 class="text-primary"><%= link_to order_item.post.name, post_path(order_item.post), class: 'text-primary no-underline' %></h4>
                        <p>Giá: <span class="font-weight-bold"><%= number_to_currency(order_item.post.price) %></span></p>
                        <p>Số lượng: <span class="font-weight-bold"><%= order_item.quantity %></span></p>
                        <p>Tổng giá: <span class="font-weight-bold text-success"><%= number_to_currency(order_item.post.price * order_item.quantity) %></span></p>
                    </div>
                </div>
            <% else %>
                <p class="text-danger">Sản phẩm không còn tồn tại.</p>
            <% end %>
        <% end %>

        <h4 class="mt-4">Tổng Giá Đơn Hàng: <span class="font-weight-bold text-danger"><%= number_to_currency(@order.total_price) %></span></h4>
    <% end %>
    <%= link_to 'Lịch sử mua hàng', orders_path, class: 'btn btn-secondary', method: :post %>
</div>
