<%= javascript_include_tag 'total_price' %>
<div class="container">
    <h3 class="text-center">Giỏ hàng</h3>
    <p style="color: green"><%= notice %></p>
    <% content_for :name, "Carts" %>
    
    <div id="carts">
        <% if @cart_items.present? %>
            <div class="d-flex justify-content-between align-items-center pb-2">
                <div class="cart-top-name"><strong>Sản Phẩm</strong></div>
                <div class="cart-top-describe"><strong>Thông Tin</strong></div>
                <div class="cart-top-price"><strong>Số Tiền</strong></div>
                <div class="cart-top-quantity"><strong>Số Lượng</strong></div>
                <div class="cart-top-update"><strong>Thao Tác</strong></div>
            </div>
            <div class="row">
                <% @cart_items.each do |item| %>
                    <div class="col-md-12">
                        <div class="card mb-4 cart-card-fixed-height d-flex flex-column">
                            <div class="card-body flex-fill d-flex">
                                <input type="checkbox" name="selected_items[]" value="<%= item.id %>" class="select-item" style="margin-right: 15px;"/> 
                                <div class="cart-flex-image d-flex align-items-center" >
                                    <% if item.post.images.attached? %>
                                        <%= image_tag item.post.images.first, style: "width: 150px; height: 100px;" %>
                                    <% end %>
                                </div>
                                <div class="cart-flex-name d-flex align-items-center">
                                    <h5 class="cart-name"><%= link_to item.post.name, post_path(item.post) %></h5>
                                </div>
                                <div class="cart-flex-describe d-flex align-items-center">
                                    <div class="cart-describe" ><%= raw item.post.describe %></div>
                                </div>
                                <div class="cart-flex-price d-flex align-items-center">
                                    <span class="total-price" data-price="<%= item.post.price %>">
                                        <%= number_to_currency(item.post.price * item.quantity) %>
                                    </span>
                                </div>
                                <div class="cart-flex-update d-flex align-items-center" style="gap: 10px;">
                                    <%= form_with(url: update_quantity_cart_path(item), method: :patch, local: false, class: 'd-flex align-items-center') do %>
                                        <button type="button" class="btn btn-secondary" onclick="decreaseQuantity(<%= item.id %>)">-</button>
                                        <input type="number" name="quantity" value="<%= item.quantity %>" min="1" class="form-control mx-2 text-center" id="quantity_<%= item.id %>" style="width: 70px;" readonly />
                                        <button type="button" class="btn btn-secondary" onclick="increaseQuantity(<%= item.id %>)">+</button>
                                    <% end %>
                                    <%= button_to 'Xóa', remove_post_cart_path(item), method: :delete, class: 'btn btn-danger' %> 
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="total-price">
                    <h4>Tổng giá: <span id="total-price-display"><%= number_to_currency(0) %></span></h4>
                </div>
                <div>
                    <%= link_to 'Lịch sử mua hàng', orders_path, class: 'btn btn-primary', style: "margin-right: 20px;", method: :post %>
                </div>
                <div>
                    <%= link_to 'Mua hàng', new_order_path, class: 'btn btn-primary', id: 'purchase-button', disabled: true %>
                </div>
            </div>
        <% else %>
            <p class="text-center">Giỏ hàng của bạn còn trống.</p>
            <div class="text-center">
                <%= link_to 'Mua ngay', root_path, class: 'btn btn-primary'%>
            </div>
        <% end %>
    </div>
</div>
