<%= javascript_include_tag 'total_each' %>
<div class="container">
    <p style="color: green"><%= notice %></p>
    
    <% content_for :name, "Carts" %>
    
    <div id="carts">
        <% if @cart.present? %>
            <div class="row">
                <% @cart_items.each do |item| %>
                    <div class="col-md-12">
                        <div class="card mb-4 cart-card-fixed-height d-flex flex-column">
                            <div class="card-body flex-fill d-flex">
                                <input type="checkbox" name="selected_items[]" value="<%= item.id %>" class="select-item" style="margin-right: 15px;"/> 
                                <div class="cart-flex-image d-flex align-items-center" >
                                    <% if item.post.image.attached? %>
                                        <%= image_tag item.post.image, style: "width: 150px; height: 100px;" %>
                                    <% end %>
                                </div>
                                <div class="cart-flex-name d-flex align-items-center">
                                    <h5 class="cart-name"><%= link_to item.post.name, post_path(item.post) %></h5>
                                </div>
                                <div class="cart-flex-describe d-flex align-items-center">
                                    <div class="cart-describe" ><%= raw item.post.describe %></div>
                                </div>
                                <div class="cart-flex-price d-flex align-items-center">
                                    <span class="total-price" data-price="<%= item.post.price %>">
                                        <%= number_to_currency(item.post.price * item.quantity) %>
                                    </span>
                                </div>
                                <div class="cart-flex-update d-flex align-items-center" style="gap: 10px;">
                                    <%= form_with(url: update_quantity_cart_path(item), method: :patch, local: false, class: 'd-flex align-items-center') do %>
                                        <button type="button" class="btn btn-secondary" onclick="decreaseQuantity(<%= item.id %>)">-</button>
                                        <input type="number" name="quantity" value="<%= item.quantity %>" min="1" class="form-control mx-2 text-center" id="quantity_<%= item.id %>" style="width: 70px;" readonly />
                                        <button type="button" class="btn btn-secondary" onclick="increaseQuantity(<%= item.id %>)">+</button>
                                    <% end %>
                                    <%= button_to 'Xóa', remove_post_cart_path(item), method: :delete, class: 'btn btn-danger' %> 
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            </div>
            <div class="total-price">
                <h4>Tổng giá: <span id="total-price-display"><%= number_to_currency(0) %></span></h4>
            </div>

        <% else %>
            <p>Không tìm thấy sản phẩm nào.</p>
        <% end %>
    </div>
</div>
