<div class="container newpost">
  <div class="row">
    <div class="col-md-6 offset-md-3 login-form p-3">
        <%= form_with(model: post) do |form| %>

          <div class="field form-group mt-2">
            <%= form.label :name, "Tên sản phẩm*", style: "display: block; font-weight: bold;"%>
            <%= form.text_field :name, class:"form-control"  %>
          </div>

          <div class="field form-group mt-2">
            <%= form.label :level, "Level*", style: "display: block; font-weight: bold;" %>
            <div class="row">
              <div class="col-md-6">
                <%= form.radio_button :level, "High Grade", id: "level_hg" %>
                <%= form.label :level_hg, "High Grade", class: "form-check-label" %><br>
                <%= form.radio_button :level, "Real Grade", id: "level_rg" %>
                <%= form.label :level_rg, "Real Grade", class: "form-check-label" %><br>
                <%= form.radio_button :level, "Super Deformed", id: "level_sd" %>
                <%= form.label :level_sd, "Super Deformed", class: "form-check-label" %><br>
                <%= form.radio_button :level, "Perfect Grade", id: "level_pg" %>
                <%= form.label :level_pg, "Perfect Grade", class: "form-check-label" %><br>
              </div>
              <div class="col-md-6">
                <%= form.radio_button :level, "Master Grade & 1/100", id: "level_mg" %>
                <%= form.label :level_mg, "Master Grade & 1/100", class: "form-check-label" %><br>
                <%= form.radio_button :level, "30 Minutes Labels", id: "level_ml" %>
                <%= form.label :level_ml, "30 Minutes Labels", class: "form-check-label" %><br>
                <%= form.radio_button :level, "Gunpla & Mecha khác", id: "level_gm" %>
                <%= form.label :level_gm, "Gunpla & Mecha khác", class: "form-check-label" %><br>
                <%= form.radio_button :level, "Dụng cụ & phụ kiện", id: "level_setup" %>
                <%= form.label :level_setup, "Dụng cụ & phụ kiện", class: "form-check-label" %><br>
              </div>
            </div>
          </div>


          <div class="field form-group mt-2">
            <%= form.label :proportion, "Tỷ lệ*", style: "display: block; font-weight: bold;" %>
            <%= form.text_field :proportion, class: "form-control" %>
          </div>

          <div class="field form-group mt-2">
            <%= form.label :describe, "Mô tả sản phẩm*", style: "display: block; font-weight: bold;" %>
            <%= form.cktext_area :describe, class: "form-control" %>
          </div>

          <div class="field form-group mt-2">
            <%= form.label :price, "Giá sản phẩm($)*", style: "display: block; font-weight: bold;" %>
            <%= form.number_field :price, class:"form-control", step: 1  %>
          </div>

          <% if @post.persisted? %>
            <div style="font-weight: bold; padding-top: 10px">Ảnh hiện có</div>

            <!-- Chia ảnh thành 2 cột bằng CSS Grid -->
            <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;">
              <% @post.images.each do |image| %>
                <div style="margin-bottom: 10px;">
                  <%= image_tag image, size: "150x150" %>

                  <label>
                    <%= check_box_tag "post[image_ids][]", image.id %> Xóa ảnh này
                  </label>
                </div>
              <% end %>
            </div>
          <% end %>

          <div class="field form-group mt-2">
            <%= form.label :images, "Ảnh mô tả", style: "display: block; font-weight: bold;" %>
            <%= form.file_field :images, class:"form-control", multiple: true, direct_upload: true %>
          </div>

          <div id="preview-images" style="display: flex; flex-wrap: wrap; gap: 10px; margin-top: 10px;"></div>
          
          <div class="field form-group mt-2">
            <%= form.label :quantity, "Số Lượng", style: "display: block; font-weight: bold;"  %>
            <%= form.number_field :quantity, class: "form-control" %>
          </div>

          <div  class="actions d-grid">
            <%= form.submit "Đăng sản phẩm", class: "btn btn-block btn-primary mt-2" %>
          </div>
        <% end %>
    </div>
  </div>
</div>