<div class="row text-center">
    <div class="col-md-6 img-category">
        <%= link_to image_tag("hg.png", class: "img-thumbnail"), posts_path(level: "High Grade") %>
        <p>High Grade</p>
    </div>
    <div class="col-md-6 img-category">
        <%= link_to image_tag("rg.png", class: "img-thumbnail"), posts_path(level: "Real Grade") %>
        <p>Real Grade</p>
    </div>
    <div class="col-md-6 img-category">
        <%= link_to image_tag("sd.png", class: "img-thumbnail"), posts_path(level: "Super Deformed") %>
        <p>Super Deformed</p>
    </div>
    <div class="col-md-6 img-category">
        <%= link_to image_tag("pg.png", class: "img-thumbnail"), posts_path(level: "Perfect Grade") %>
        <p>Perfect Grade</p>
    </div>
    <div class="col-md-6 img-category">
        <%= link_to image_tag("mg.png", class: "img-thumbnail"), posts_path(level: "Master Grade & 1/100") %>
        <p>Master Grade & 1/100</p>
    </div>
    <div class="col-md-6 img-category">
        <%= link_to image_tag("ml.png", class: "img-thumbnail"), posts_path(level: "30 Minutes Labels") %>
        <p>30 Minutes Labels</p>
    </div>
    <div class="col-md-6 img-category">
        <%= link_to image_tag("gm.png", class: "img-thumbnail"), posts_path(level: "Gunpla & Mecha khác") %>
        <p>Gunpla & Mecha khác</p>
    </div>
    <div class="col-md-6 img-category">
        <%= link_to image_tag("setup.png", class: "img-thumbnail"), posts_path(level: "Dụng cụ & phụ kiện") %>
        <p>Dụng cụ & phụ kiện</p>
    </div>
</div>
