<div class="col-md-2">
  <div class="card mb-4 card-fixed-height d-flex flex-column">
    <div class="card-body flex-fill">
      <%= link_to post_path(post), class: "stretched-link" do %>
        <div id="<%= dom_id post %>">
          <div class="post-image">
            <% if post.images.attached? %>
              <%= image_tag post.images.first %>
            <% end %>
          </div>
          <div class="card-title title-clamp coler-text-black"><strong><%= post.name %></strong></div>
          <div class="card-text post-describe text-clamp"><%= raw post.describe %></div>
          <div class="coler-text-red"><%= number_to_currency(post.price) %></div>
          <div class="sold-quantity">Đã bán: <%= post.sold_quantity || 0 %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
