<%= javascript_include_tag 'button_left_right_img' %>
<div class="container">
  <div class="show-flex-container">
    <div class="show-flex-image">
      <div class="show-first-img">
        <% if @post.images.attached? %>
          <button id="prev-button" type="button">&lt;</button>
          <%= image_tag @post.images.first, id: "current-image" %><br>
          <button id="next-button" type="button">&gt;</button>
        <% end %>
      </div>

      <div class="show-image-gallery">
        <% @post.images.each do |image| %>
          <div>
            <%= image_tag image %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="show-flex-content">
      <p style="color: green"><%= notice %></p>
      <h1><%= @post.name %></h1>
      <div class="show-price">
        <p><%= number_to_currency(@post.price) %></p>
      </div>
      <br>

      <%= form_with(url: add_post_cart_path, method: :post, local: true) do %>
        <%= hidden_field_tag 'post_id', @post.id %>
        <div class="show-quantity-control">
          <%= label_tag :quantity, "Số lượng", style:"margin-right: 20px;" %>
          <button type="button" id="decrease-quantity" class="btn btn-secondary">-</button>
          <input type="text" id="quantity-field" name="quantity" value="1" min="1" readonly class="show-quantity-input">
          <button type="button" id="increase-quantity" class="btn btn-secondary">+</button>
        </div>
        <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
          <i class="bi bi-cart-plus"></i> Thêm vào giỏ hàng
        <% end %>
      <% end %>

    </div>
  </div>
</div>

<div class="container">
  <div>
    <strong>Mô tả sản phẩm:</strong>
    <p><%= raw @post.describe %></p>
  </div>
  <div class="action-buttons d-flex">
    <% if current_user.admin? %>
      <%= link_to "Chỉnh sửa sản phẩm", edit_post_path(@post), class: 'btn btn-primary me-2' %>
      <%= button_to "Xóa sản phẩm", @post, method: :delete, class: 'btn btn-danger me-2' %>
    <% end %>
    <%= link_to "Quay lại trang chủ", root_path, class: 'btn btn-secondary' %>
  </div>
</div>