<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 login-form p-3">
      <h1><%= @post.name %></h1>
      <div>
        <strong>Thông tin sản phẩm:</strong>
        <p><%= @post.describe %></p>
      </div>
      <div>
        <strong>Giá sản phẩm:</strong>
        <p><%= number_to_currency(@post.price) %></p>
      </div>
      <% if @post.image.attached? %>
        <div>
          <strong>Ảnh sản phẩm:</strong>
          <%= image_tag @post.image %>
        </div>
      <% end %>
      <br>
      <%= form_with(url: add_post_cart_path, method: :post) do %>
        <%= hidden_field_tag 'post_id', @post.id %>
        <%= number_field_tag 'quantity', 1, min: 1 %>
        <%= submit_tag 'Thêm vào giỏ hàng' %>
      <% end %>
      <div class="action-buttons d-flex">
        <% if current_user.admin? %>
          <%= link_to "Chỉnh sửa sản phẩm", edit_post_path(@post), class: 'btn btn-primary me-2' %>
          <%= button_to "Xóa sản phẩm", @post, method: :delete, class: 'btn btn-danger me-2' %>
        <% end %>
        <%= link_to "Quay lại trang chủ", root_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>